aiohttp
python-dotenv
azure-identity
azure-search-documents==11.6.0b4
azure-functions
jsonschema
azure-core
azure-cosmos==4.7.0
azure-ai-inference
azure-ai-vision-imageanalysis
azure-storage-blob==
azure-mgmt-web
azure-mgmt-storage
tenacity
openai
pillow
botbuilder-azure==4.16.2
botbuilder-core==4.16.2
botbuilder-dialogs==4.16.2
botbuilder-integration-aiohttp==4.16.2
semantic-kernel==1.19.0 
pandas
ipykernel<=6.8.0
psycopg2-binary 
faker
psycopg2